<%- include("adminheader.ejs")%>
<script>document.getElementById("leagues").classList.add("active")</script>
 <article class="content dashboard-page">
<div class = "container ">
	<h1 style="text-align:center">
	Edit League
</h1>
<div class ="row r1">
	<div class = "col-lg-3">
		
	</div>
	<div class = " col-lg-6">
	<form action ="/admin/leagues/<%=league._id%>?_method=PUT" method = "POST" >
		<input class = "form-control form-group" type="text" value="<%=league.name%>" name ="category[name]" placeholder="Category Name" required>
		<input class = "form-control form-group" type="text" value="<%=league.logo%>"name ="category[logo]" placeholder="Enter Category Logo URL">
			 <button class ="btn btn-primary btn-block"style="margin-bottom:20px">
			 Submit
		</button>
</form>

	</div></div>
</div>
</article>
<%- include("adminfooter.ejs")%>