<%- include("adminheader.ejs")%>
<script>document.getElementById("leagues").classList.add("active")</script>
 <article class="content dashboard-page">
	 <a href="/admin/addLeague"> <button class="btn btn-success" style="color:white">
		 Create New League
		 </button></a>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">S.No.</th>
      <th scope="col">League</th>
		<th scope="col">Matches</th>
		<th scope="col">Action</th>
    </tr>
  </thead>
	<% var i=1;leagues.forEach(function(league)
				   {%>
		<tr>
		<td><%=i%></td>
			<td><i ><img style="width:30px;height:30px"src="<%=league.logo%>"></i>  <%=league.name%></td>
			<td><%league.matches.forEach(function(match){%>
				<li><%=match.t1_name%> Vs <%=match.t2_name%></li>
				<%})%></td>
			<td><a href="/admin/leagues/<%=league._id%>/edit" ><button class="btn btn-warning">
				Edit
				</button></a>  <form style ="display:inline" action = "/admin/leagues/<%=league._id%>?_method=DELETE" method ="POST">
			<button class="btn btn-danger btn-xs"onclick="return confirm('Are you sure you want to delete this item?');">
				Delete
			</button>
		</form></td><%i++;%>
	</tr>
	<%})%>
  <tbody>
    
  </tbody>
</table>
</article>
<%- include("adminfooter.ejs")%>