<%- include("adminheader.ejs")%>
<script>document.getElementById("bets").classList.add("active")</script>
 <article class="content dashboard-page">
<div class = "container ">
	<h1 style="text-align:center">
	Update Match Result
</h1>
<div class ="row r1">
	<div class = "col-lg-3">
		
	</div>
	<div class = " col-lg-6 text-center mt-3">
	<form action ="/admin/matches/<%=match._id%>?_method=PUT" method = "POST" >
		<b>Winner: </b><select name="winner">
		<option value="1"><%=match.t1_name%></option>
		<option value="2"><%=match.t2_name%></option>
		<option value="3">Draw</option>
			
		</select>	 <button class ="btn btn-primary btn-block mt-2" onclick="return confirm('Are you sure you want to proceed? Results once updated cannot be changed');"style="margin-left:38%;width:20%">
			 Submit
		</button>
</form>
		<form action="/admin/matches/cancel/<%=match._id%>" method="POST">
			<button class ="btn btn-danger btn-block mt-2" onclick="return confirm('Are you sure you want to proceed? Results once updated cannot be changed');"style="margin-left:38%;width:20%">
			 Cancel
		</button>
		</form>

	</div></div>
</div>
</article>
<%- include("adminfooter.ejs")%>